<h1>Clients</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th class="span1">ID</th>
      <th>
        <%= Client.human_attribute_name :full_name %>
      </th>
      <th>Created at</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| -%>
      <tr>
        <td><%= client.id %></td>
        <td><%= link_to client.full_name, business_client_path(client) %></td>
        <td><%=l client.created_at, :format => :short %></td>
        <td>
          <%= link_to "Edit", edit_business_client_path(client) %>
        </td>
      </tr>
    <% end -%>
  </tbody>
</table>
