<% content_for :secondary_navigation do %>
  <li class="active"><a href="#"><%= t :index, :scope => [:menu] %></a></li>
  <li><%= link_to t(:new, :scope => [:menu]), new_business_client_path %></li>
  <li><%= link_to t(:index, :scope => [:menu, :client_type]), business_client_types_path %></li>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= Client.human_attribute_name(:id) %></th>
      <th><%= Client.human_attribute_name(:name) %></th>
      <th><%= Client.human_attribute_name(:address) %></th>
      <th><%= Client.human_attribute_name(:admission_date) %></th>
    </tr>
  </thead>
  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= link_to client.id, business_client_path(client) %></td>
        <td><%= link_to client.name, business_client_path(client) %></td>
        <td><%= client.address %></td>
        <td><%=l client.admission_date, :format => :short %></td>
      </tr>
    <% end %>
  </tbody>
</table>