<% content_for :secondary_navigation do %>
  <li><%= link_to t(:index, :scope => [:menu]), business_clients_path %></li>
  <li><%= link_to t(:new, :scope => [:menu]), new_business_client_path %></li>
  <li class="active"><a href="#"><%= t(:show, :scope => [:menu]) %></a></li>
  <li><%= link_to t(:edit, :scope => [:menu]), edit_business_client_path(@client) %></li>
<% end %>

<table>
  <tbody>
    <tr>
      <td class="span2"><b><%= Client.human_attribute_name(:id) %></b></td>
      <td><%= @client.id %></td>
    </tr>
    <tr>
      <td><b><%= Client.human_attribute_name(:name) %></b></td>
      <td><%= @client.name %></td>
    </tr>
    <tr>
      <td><b><%= Client.human_attribute_name(:address) %></b></td>
      <td><%= @client.address %></td>
    </tr>
  </tbody>
</table>
