<label class="label"><%= Client.human_attribute_name :full_name %>:</label>
<p><%= @client.full_name %></p>

<label class="label"><%= Client.human_attribute_name :address %>:</label>
<p><%= @client.address %></p>

<div class="form-actions">
<%= link_to t("actions.back"), business_clients_path, :class => 'btn'  %>
<%= link_to t("actions.edit"), edit_business_client_path(@client), :class => 'btn' %>
<%= link_to t("actions.delete"), business_client_path(@client), :method => "delete", :confirm => "Are you sure?", :class => 'btn btn-danger' %>
</div>
