<%= form_for([:factory, formula]) do |f| %>
  <% if formula.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('messages.form_errors', count: formula.errors.count) %></h2>
      <ul>
      <% formula.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :abrasive %>
    <%= f.text_field :abrasive %>
  </div>

  <div class="field">
    <%= f.label :grain %>
    <%= f.text_field :grain %>
  </div>

  <div class="field">
    <%= f.label :hardness %>
    <%= f.text_field :hardness %>
  </div>

  <div class="field">
    <%= f.label :porosity %>
    <%= f.text_field :porosity %>
  </div>

  <div class="field">
    <%= f.label :alloy %>
    <%= f.text_field :alloy %>
  </div>

  <h3>Elements</h3>

  <%= f.fields_for :formula_items do |ff| %>
    <%= render 'formula_item_fields', f: ff %>
  <% end %>

  <%= link_to_add_fields 'Add Element', f, :formula_items %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
