<tr style="<%= "display:none;" if item.marked_for_destruction? %>" >
  <td><%= link_to item.formula_element_name, factory_formula_element_path(item.formula_element) %></td>
  <td>
    <%= text_field_tag "formula[formula_items_attributes][#{i}][proportion]", number_with_precision(item.proportion), :class => 'input-small' %>
    <%= hidden_field_tag "formula[formula_items_attributes][#{i}][formula_element_id]", item.formula_element_id %>
    <%= hidden_field_tag "formula[formula_items_attributes][#{i}][id]", item.id %>
    <%= hidden_field_tag "formula[formula_items_attributes][#{i}][_destroy]", (item.marked_for_destruction? ? '1' : '0'), :class => 'destroy' %>
  </td>
  <td>
    <%= link_to raw("&times"), '#', :class => 'close destroy' %>
  </td>
</tr>
