<div id="<%= dom_id formula %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= formula.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Abrasive:</strong>
    <%= formula.abrasive %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Grain:</strong>
    <%= formula.grain %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Hardness:</strong>
    <%= formula.hardness %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Porosity:</strong>
    <%= formula.porosity %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Alloy:</strong>
    <%= formula.alloy %>
  </p>

</div>
