<%# locals: (child_index: nil, form:, formula_item:, formula_elements:)  %>

<% marked_for_destruction = formula_item.persisted? && formula_item.marked_for_destruction? %>
<div
  data-common--nested-form-target="item" data-item-id="<%= formula_item.id || "" %>"
  class="grid grid-cols-[1fr_80px_auto] gap-x-6 gap-y-8 <%= marked_for_destruction ? "text-red line-through italic" : "" %>"
>
  <%= form.fields_for :formula_items, formula_item, child_index: child_index do |ff| %>
    <%= ff.hidden_field :id if formula_item.persisted? %>

    <%= render("common/components/dropdown",
      placeholder: t("helpers.select.prompt", model: FormulaElement.model_name.human),
      input_name: ff.field_name(:formula_element_id),
      input_value: formula_item.formula_element_id,
      search_value: formula_item&.formula_element&.name,
      input_classes: "text-xs #{'ring-red' if formula_item.errors.any?}",
      url: factory_formula_elements_path,
    ) %>

    <div>
      <%= ff.number_field(
        :proportion,
        placeholder: "Porcentage %",
        min: 0,
        step: 0.001,
        disabled: marked_for_destruction,
        class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-300 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:text-sm sm:leading-6 #{ 'ring-red' if formula_item.errors.any? }",
      ) %>
      <%= ff.hidden_field(
        :_destroy,
        value: marked_for_destruction,
        data: { "common--nested-form-target": "destroyField" },
      ) %>
    </div>

    <button type="button" class="group" data-action="common--nested-form#removeItem">
      <%= heroicon("trash", options: { class: "h-4 w-4 shrink-0 transition text-light-red group-hover:text-red" }) %>
    </button>
  <% end %>
</div>
