<%= form_with(model: [:factory, formula], class: "contents") do |form| %>
  <% if formula.errors.any? %>
    <div id="error_explanation" class="bg-red-100 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(formula.errors.count, "error") %> prohibited this formula from being saved:</h2>

      <ul>
        <% formula.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :abrasive %>
    <%= form.text_field :abrasive, class: "block shadow rounded-md border border-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :grain %>
    <%= form.text_field :grain, class: "block shadow rounded-md border border-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :hardness %>
    <%= form.text_field :hardness, class: "block shadow rounded-md border border-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :porosity %>
    <%= form.text_field :porosity, class: "block shadow rounded-md border border-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :alloy %>
    <%= form.text_field :alloy, class: "block shadow rounded-md border border-gray-500 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-700 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
