<h1><%= Formula.model_name.human(count: 2) %></h1>

<%= link_to t('actions.new'), new_factory_formula_path %>

<%= form_for @search, url: factory_formulas_path, html: { method: :get } do |f| %>
  <%= f.text_field :id_eq, placeholder: 'ID' %>
  <%= f.text_field :name_cont, placeholder: 'Nombre' %>
  <%= f.submit 'Buscar' %>
<% end %>
<%= will_paginate @formulas %>
<table>
  <thead>
    <tr>
      <th><%= sort_link(@search, :id, Formula.human_attribute_name(:id)) %></th>
      <th><%= sort_link(@search, :name, Formula.human_attribute_name(:name)) %></th>
      <th><%= sort_link(@search, :abrasive, Formula.human_attribute_name(:abrasive)) %></th>
      <th><%= sort_link(@search, :grain, Formula.human_attribute_name(:grain)) %></th>
      <th><%= sort_link(@search, :hardness, Formula.human_attribute_name(:hardness)) %></th>
      <th><%= sort_link(@search, :porosity, Formula.human_attribute_name(:porosity)) %></th>
      <th><%= sort_link(@search, :alloy, Formula.human_attribute_name(:alloy)) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @formulas.each do |formula| %>
      <tr>
        <td><%= formula.id %></td>
        <td><%= formula.name %></td>
        <td><%= formula.abrasive %></td>
        <td><%= formula.grain %></td>
        <td><%= formula.hardness %></td>
        <td><%= formula.porosity %></td>
        <td><%= formula.alloy %></td>
        <td><%= link_to 'Show', factory_formula_path(formula) %></td>
        <td><%= link_to 'Edit', edit_factory_formula_path(formula) %></td>
        <td><%= link_to 'Destroy', factory_formula_path(formula), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @formulas %>
