<%= render "common/headings/page",
  title: "Fórmulas",
  actions: [
    { label: "Nueva fórmula", path: new_factory_formula_path, method: :get },
  ],
  breadcrumbs: [
    { title: t("navigation.dashboard"), path: factory_dashboard_index_path },
    { title: "Fórmulas", path: factory_formulas_path },
  ] %>

<div class="w-full">
  <div class="px-4 sm:px-6 lg:px-8">
    <div class="mt-8 flow-root">
      <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
          <table id="formulas" class="min-w-full divide-y divide-gray-300">
            <thead>
              <tr>
                <th scope="col" class="py-3.5 text-center text-sm font-semibold text-gray-900">ID</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900 sm:pl-0">Nombre</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Abrasivo</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Grano</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Dureza</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Porosidad</th>
                <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Liga</th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-100">
              <% @formulas.each do |formula| %>
                <tr id="<%= dom_id formula %>">
                  <td class="whitespace-nowrap px-3 py-4 text-center text-sm text-gray-500">
                    <%= link_to formula.id, factory_formula_path(formula) %>
                  </td>
                  <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-0">
                    <%= link_to factory_formula_path(formula) do %>
                      <span class="sr-only">Ver formula </span><%= formula.name %>
                    <% end %>
                  </td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= formula.abrasive %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= formula.grain %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= formula.hardness %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= formula.porosity %></td>
                  <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500"><%= formula.alloy %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
