<% content_for :secondary_navigation do %>
  <li><%= link_to t(:index, :scope => [:menu]), factory_formulas_path %></li>
  <li><%= link_to t(:new, :scope => [:menu]), new_factory_formula_path %></li>
  <li><%= link_to t(:show, :scope => [:menu]), factory_formula_path(@formula) %></li>
  <li><%= link_to t(:edit, :scope => [:menu]), edit_factory_formula_path(@formula) %></li>
  <li class="active"><%= link_to t(:products, :scope => [:menu, :formula]), products_factory_formula_path(@formula) %></li>
<% end %>

<ul class="unstyled">
  <% @products.each do |product| %>
  <li><%= link_to product.name, factory_product_path(product) %></li>
  <% end %>
</ul>