<% content_for :secondary_navigation do %>
  <li><%= link_to t(:index, :scope => [:menu]), factory_formulas_path %></li>
  <li><%= link_to t(:new, :scope => [:menu]), new_factory_formula_path %></li>
  <li class="active"><a href="#"><%= t(:show, :scope => [:menu]) %></a></li>
  <li><%= link_to t(:edit, :scope => [:menu]), edit_factory_formula_path(@formula) %></li>
  <li><%= link_to t(:products, :scope => [:menu, :formula]), products_factory_formula_path(@formula) %></li>
<% end %>

<div class="row">
  <div class="span4">
    <p>
      <label class="label"><%= Formula.human_attribute_name :id %></label>
      #<%= @formula.id %>
    </p>

    <p>
      <label class="label"><%= Formula.human_attribute_name :name %></label>
      <%= @formula.name %>
    </p>

    <p>
      <label class="label"><%= Formula.human_attribute_name :abrasive %></label>
      <%= @formula.abrasive %>
    </p>

    <p>
      <label class="label"><%= Formula.human_attribute_name :grain %></label>
      <%= @formula.grain %>
    </p>

    <p>
      <label class="label"><%= Formula.human_attribute_name :hardness %></label>
      <%= @formula.hardness %>
    </p>

    <p>
      <label class="label"><%= Formula.human_attribute_name :porosity %></label>
      <%= @formula.porosity %>
    </p>

    <p>
      <label class="label"><%= Formula.human_attribute_name :alloy %></label>
      <%= @formula.alloy %>
    </p>
  </div>
  <div class="span5">
    <label class="label"><%= Formula.human_attribute_name :formula_items %></label>
    <div id="items_chart" style="width: 100%; height: 250px;"></div>
  </div>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    var chart;
    $(function() {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'items_chart',
          plotBackgroundColor: null,
          plotBorderWidth: null,
          plotShadow: false
        },
        title: {
          text: ''
        },
        tooltip: {
          formatter: function() {
            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(3) +' %';
          }
        },
        plotOptions: {
          pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
              enabled: true,
              color: '#000000',
              connectorColor: '#000000',
              formatter: function() {
                return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(3) +' %';
              }
            }
          }
        },
        series: [{
            type: 'pie',
            data: [
              <% @formula.formula_items.each do |item| %>
                ['<%= item.formula_element_name %>', <%= item.proportion %> ],
              <% end %>
            ]
          }]
      });
    });
  </script>
<% end %>