<h3>Details</h3>
<strong>ID:</strong>
<%= @formula.id %>

<br>
<strong>Name:</strong>
<%= @formula.name %>

<br>
<strong>Abrasive:</strong>
<%= @formula.abrasive %>

<br>
<strong>Grain:</strong>
<%= @formula.grain %>

<br>
<strong>Hardness:</strong>
<%= @formula.hardness %>

<br>
<strong>Porosity:</strong>
<%= @formula.porosity %>

<br>
<strong>Alloy:</strong>
<%= @formula.alloy %>
<br>
<br>
<h3>Composition</h3>
<% @formula.formula_items.each do |item| %>
    <%= item.formula_element_name %> (<%= item.proportion %>%)<br>
<% end %>
<br>

<h3>Products</h3>
<% @formula.products.each do |product| %>
  <%= link_to product.name, factory_product_path(product) %><br>
<% end %>
<%= link_to 'Edit', edit_factory_formula_path(@formula) %> |
<%= link_to 'Back', factory_formulas_path %>
