<%# locals: (object:, actions: [], breadcrumbs:, options_dropdown: nil) -%>

<% provide(:title, object.name) %>

<div>
  <%= render "common/headings/breadcrumbs", breadcrumbs: breadcrumbs %>

  <header class="relative isolate -mx-4 sm:-mx-6 xl:-mx-8">
    <div class="absolute inset-0 -z-10 overflow-hidden" aria-hidden="true">
      <div class="absolute top-full left-16 -mt-16 transform-gpu opacity-50 blur-3xl xl:left-1/2 xl:-ml-80">
        <div class="aspect-1154/678 w-[72.125rem] bg-linear-to-br from-green-300 to-blue-300" style="clip-path: polygon(100% 38.5%, 82.6% 100%, 60.2% 37.7%, 52.4% 32.1%, 47.5% 41.8%, 45.2% 65.6%, 27.5% 23.4%, 0.1% 35.3%, 17.9% 0%, 27.7% 23.4%, 76.2% 2.5%, 74.2% 56%, 100% 38.5%)"></div>
      </div>
      <div class="absolute inset-x-0 bottom-0 h-px bg-gray-900/5"></div>
    </div>

    <div class="px-4 py-10 sm:px-6 xl:px-8">
      <div class="flex flex-col md:flex-row md:items-center md:justify-between gap-x-8">
        <div class="flex flex-col md:flex-row items-center gap-x-6">
          <%= image_tag object.cover_hero, class: "size-60 flex-none rounded-full ring-1 ring-gray-900/10" %>
          <h1 class="text-2xl font-bold leading-10 text-gray-900 text-pretty sm:text-3xl sm:tracking-tight"><%= object.name %></h1>
        </div>

        <div class="flex items-center gap-x-4 sm:gap-x-6 self-end">
          <div class="relative">
            <% if actions.any? %>
              <div class="mt-4 flex flex-shrink-0 md:ml-4 md:mt-0 gap-2">
                <% actions.each do |action| %>
                  <%= button_to action[:label], action[:path], method: action[:method], data: action[:data], class: action[:class] || "btn-default" %>
                <% end %>
              </div>
            <% end %>

            <% if options_dropdown.present? %>
              <%= render "common/components/options_dropdown", items: options_dropdown %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>

</div>
