<%= simple_form_for [:factory, @making_order] do |f| %>
  <% if @making_order.errors.any? %>
    <div class="alert alert-error">
      <ul>
        <% @making_order.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span2">
      <%= f.input :mixer_capacity, :as => :string, :input_html => { :class => 'span1' } %>
    </div>
    <div class="span8">
      <%= f.input :comments, input_html: { :class => 'span8', :rows => 1 } %>
    </div>
    <div class="span10">
      <hr>
      <div class="product-autocomplete">
        <input type="text" id="search-products" class="autocomplete span10" placeholder="Buscar producto por ID o nombre">
      </div>
      <table id="products_list" class="table">
        <thead>
          <tr>
            <th class=""><%= Product.human_attribute_name :id %></th>
            <th class=""><%= Product.human_attribute_name :formula %></th>
            <th class=""><%= Product.human_attribute_name :shape %></th>
            <th class=""><%= Product.human_attribute_name :size %></th>
            <th class=""><%= Product.human_attribute_name :weight %></th>
            <th class=""><%= Product.human_attribute_name :pressure %></th>
            <th class=""><%= MakingOrderItem.human_attribute_name :quantity %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @making_order.making_order_items.each do |item| %>
            <%= render :partial => 'making_order_item', :locals => { :item => item } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t(:delete, :scope => [:actions]), factory_making_order_path(@making_order), :method => :delete, :data => {:confirm => t("messages.are_you_sure")}, :class => 'btn btn-danger pull-right' unless @making_order.new_record? -%>
  </div>
<% end %>

<% content_for :javascript do %>
  <script type="text/javascript">
    Comman.factory_making_orders.options.source = '<%= autocomplete_factory_products_path %>';
    Comman.factory_making_orders.options.formula_id = '<%= @making_order.formula_id %>';
  </script>
<% end %>