<%# locals: (child_index: nil, form:, making_order_item:, products:)  %>

<% marked_for_destruction = making_order_item.persisted? && making_order_item.marked_for_destruction? %>
<div
  data-common--nested-form-target="item" data-item-id="<%= making_order_item.id || "" %>"
  class="grid grid-cols-[1fr,80px,auto] gap-x-6 gap-y-8 <%= marked_for_destruction ? "text-red line-through italic" : "" %>"
>
  <%= form.fields_for :making_order_items, making_order_item, child_index: child_index do |ff| %>
    <%= ff.hidden_field :id if making_order_item.persisted? %>

    <%= render("common/components/combobox_input",
      placeholder: t("helpers.select.prompt", model: Product.model_name.human),
      input_name: "making_order[making_order_items_attributes][#{ff.index}][product_id]",
      input_value: making_order_item.product_id,
      search_value: making_order_item&.product_name,
      input_classes: making_order_item.errors.any? ? "ring-red text-xs" : "text-xs",
    ) do %>
      <% products.each do |products| %>
        <%= render "common/components/combobox_option", id: products.id, value: products.name do %>
          <span class="block truncate font-normal"><%= products.name %></span>
        <% end %>
      <% end %>
    <% end %>
    <div>
      <%= ff.number_field(
        :quantity,
        placeholder: "Cantidad",
        min: 1,
        step: 1,
        disabled: marked_for_destruction,
        class: "block w-full rounded-md border-0 py-1.5 text-xs text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:leading-6 #{ 'ring-red' if making_order_item.errors.any? }",
      ) %>
      <%= ff.hidden_field(
        :_destroy,
        value: marked_for_destruction,
        data: { "common--nested-form-target": "destroyField" },
      ) %>
    </div>

    <button type="button" class="group" data-action="common--nested-form#removeItem">
      <%= heroicon("trash", options: { class: "h-4 w-4 shrink-0 transition text-lightRed group-hover:text-red" }) %>
    </button>
  <% end %>
</div>
