<div id="<%= dom_id making_order %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Total weight:</strong>
    <%= making_order.total_weight %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Weight per round:</strong>
    <%= making_order.weight_per_round %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rounds count:</strong>
    <%= making_order.rounds_count %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Comments:</strong>
    <%= making_order.comments %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Mixer capacity:</strong>
    <%= number_with_precision making_order.mixer_capacity, precision: 1 %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">State:</strong>
    <%= making_order.state %>
  </p>

</div>
