<%= render(
  "common/headings/page",
  breadcrumbs: [
    { title: t("navigation.dashboard"), path: factory_root_path },
    { title: t("titles.making_order.index"), path: factory_making_orders_path },
    { title: @making_order.id, path: factory_making_order_path(@making_order) },
  ],
  title: @making_order.id,
  actions: [
    { label: t("navigation.print"), path: factory_making_order_path(@making_order), method: :get, class: "btn-success", data: { "controller": "common--print-page"} },
    { label: t("navigation.edit"), path: edit_factory_making_order_path(@making_order), method: :get, class: "btn-default" },
  ],
) %>
<div class="grid grid-cols-1 xl:grid-cols-2 gap-8 mt-6">
  <div>
    <%= render(
      "common/lists/description",
      items: [
        { label: MakingOrder.human_attribute_name(:id), value: @making_order.id },
        {
          label: MakingOrder.human_attribute_name(:formula),
          block: -> {
            link_to(factory_formula_path(@making_order.formula), class: "font-semibold") do
              "#{@making_order.formula_name} (##{@making_order.formula_id})"
            end
          },
        },
        { label: MakingOrder.human_attribute_name(:weight_per_round), value: "#{number_with_precision @making_order.weight_per_round} kg" },
        { label: MakingOrder.human_attribute_name(:rounds_count), value: @making_order.rounds_count },
        { label: MakingOrder.human_attribute_name(:mixer_capacity), value: "#{number_with_precision(@making_order.mixer_capacity, precision: 1)} kg" },
        { label: MakingOrder.human_attribute_name(:comments), value: @making_order.comments },
        { label: MakingOrder.human_attribute_name(:state), value: t("#{@making_order.state}", scope: [:activerecord, :attributes, :making_order, :state_values]) },
        { label: MakingOrder.human_attribute_name(:created_at), value: l(@making_order.created_at, format: :long) },
      ]
    ) %>
  </div>
  <div class="flow-root">
    <div class="mb-6 overflow-hidden rounded-lg bg-white-100 shadow-sm px-4 py-5 sm:p-6">
      <div class="mb-6 text-sm font-medium leading-6 text-gray-100"><%= MakingOrder.human_attribute_name(:making_order_items) %></div>
      <div class="grid grid-cols-1 gap-6">
        <ul role="list" class="divide-y divide-light-gray">
          <% @making_order.making_order_items.each do |item| %>
            <li class="flex gap-x-4 py-5">
              <% if item.product_id.present? %>
                <%= image_tag item.product.cover_thumbnail, class: "size-12 flex-none rounded-full ring-1 ring-gray-900/10" %>
              <% else %>
                <%= image_tag "default-product.png", class: "size-12 flex-none rounded-full ring-1 ring-gray-900/10" %>
              <% end %>
              <div class="min-w-0 grow flex items-center">
                <div class="flex-1 grow text-sm/6 font-semibold text-gray-900">
                  <% if item.product_id.present? %>
                    <%= link_to item.product_name, factory_product_path(item.product_id) %>
                  <% else %>
                    <%= item.product_name %>
                  <% end %>
                </div>
                <div class="mt-1 text-2xl font-semibold text-gray-900"><%= item.quantity %></div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
    <div>
      <div class="py-6">
        <h3 class="text-base font-semibold text-gray-900">Tipo y grano</h3>
      </div>
      <%= render(
        "common/lists/description",
        items: @making_order.making_order_formula_items.map do |item|
          {
            label: item.formula_element_name,
            value: "#{formula_item_weight_per_round(item.proportion, @making_order.weight_per_round)} kg",
          }
        end
      ) %>
    </div>
  </div>

  <div>
      <div class="border-b border-light-gray-500 py-6 mb-6">
        <h3 class="text-base font-semibold text-gray-900">Historial de cambios</h3>
      </div>
      <ul role="list" class="-mb-8">
        <li>
          <div class="relative pb-8">
            <div class="relative flex space-x-3">
              <div>
                <span class="flex h-8 w-8 items-center justify-center rounded-full bg-green-500 ring-8 ring-white">
                  <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                  </svg>
                </span>
              </div>
              <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
                <div>
                  <p class="text-sm text-gray-500">Orden ingresada</p>
                </div>
                <div class="whitespace-nowrap text-right text-sm text-gray-500">
                  <time datetime="2020-10-04">Oct 4</time>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<% content_for :print_section do %>
  <div class="printing" style="padding-top:0">
    <section class="sheet">
      <div class="block">
        <%= render partial: '/factory/making_orders/print/mix', locals: { making_order: @making_order } %>
      </div>
      <div class="block">
        <div class="separator"></div>
        <%= render partial: '/factory/making_orders/print/pressing', locals: { making_order: @making_order } %>
      </div>
    </section>
    <section class="sheet">
      <div class="block">
        <%= render partial: '/factory/making_orders/print/adjustment', locals: { making_order: @making_order } %>
      </div>
      <div class="block">
        <div class="separator"></div>
        <%= render partial: '/factory/making_orders/print/archive', locals: { making_order: @making_order } %>
      </div>
    </section>
  </div>
<% end %>
