<html>
  <head>
    <meta charset="utf-8">
    <title>Making Order</title>
    <%= wicked_pdf_stylesheet_link_tag "pdf" -%>
  </head>
  <body class="printing" style="padding-top:0">
    <div class="block">
      <%= render :partial => '/factory/making_orders/pdf/mix', :locals => { :form_id_and_revision => 'F1-PCU753 Rv8'} %>
    </div>
    <div class="block">
      <div class="separator"></div>
      <%= render :partial => '/factory/making_orders/pdf/pressing', :locals => { :form_id_and_revision => 'F1-PCU753 Rv8'} %>
    </div>
    <div class="block">
      <%= render :partial => '/factory/making_orders/pdf/adjustment', :locals => { :form_id_and_revision => 'F1-PCU753 Rv8'} %>
    </div>
    <div class="block last">
      <div class="separator"></div>
      <%= render :partial => '/factory/making_orders/pdf/archive', :locals => { :form_id_and_revision => 'F1-PCU753 Rv8'} %>
    </div>
  </body>
</html>