<%# locals: (child_index: nil, form:, supplier_product_item:)  %>

<% marked_for_destruction = supplier_product_item.persisted? && supplier_product_item.marked_for_destruction? %>
<div
  data-common--nested-form-target="item" data-item-id="<%= supplier_product_item.id || "" %>"
  class="grid grid-cols-[1fr_1fr_100px_auto] gap-x-6 gap-y-8 <%= marked_for_destruction ? "text-red line-through italic" : "" %>"
>
  <%= form.fields_for :supplier_products, supplier_product_item, child_index: child_index do |ff| %>
    <%= ff.hidden_field :id if supplier_product_item.persisted? %>

    <%= render("common/components/dropdown",
      placeholder: t("helpers.select.prompt", model: Supplier.model_name.human),
      input_name: ff.field_name(:supplier_id),
      input_value: supplier_product_item.supplier_id,
      search_value: supplier_product_item&.supplier_name,
      input_classes: supplier_product_item.errors.any? ? "ring-red text-xs/6" : "text-xs/6",
      url: office_suppliers_path,
    ) %>

    <%= ff.text_field(
      :code,
      placeholder: SupplierProduct.human_attribute_name(:code),
      disabled: marked_for_destruction,
      class: "block w-full rounded-md border-0 py-1.5 text-xs/6 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-300 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:leading-6 #{ 'ring-red' if supplier_product_item.errors.any? }",
    ) %>

    <div>
      <%= ff.number_field(
        :price,
        placeholder: SupplierProduct.human_attribute_name(:price),
        min: 0,
        step: 0.01,
        disabled: marked_for_destruction,
        class: "block w-full rounded-md border-0 py-1.5 text-xs/6 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-300 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:leading-6 #{ 'ring-red' if supplier_product_item.errors.any? }",
      ) %>
      <%= ff.hidden_field(
        :_destroy,
        value: marked_for_destruction,
        data: { "common--nested-form-target": "destroyField" },
      ) %>
    </div>

    <button type="button" class="group cursor-pointer" data-action="common--nested-form#removeItem">
      <%= heroicon("trash", options: { class: "h-4 w-4 shrink-0 transition text-light-red group-hover:text-red" }) %>
    </button>
  <% end %>
</div>
