<%= render(
  "common/headings/page_with_cover",
  breadcrumbs: [
    { title: t("navigation.dashboard"), path: office_root_path },
    { title: t("titles.product.index"), path: office_products_path },
    { title: @product.name, path: office_product_path(@product) },
  ],
  title: @product.name,
  cover: @product.cover,
  actions: [
    { label: t("navigation.edit"), path: edit_office_product_path(@product), method: :get },
  ],
) %>
<div class="grid grid-cols-1 xl:grid-cols-2 gap-8 mt-6">
  <div>
    <%= render(
      "common/lists/description",
      items: [
        { label: Product.human_attribute_name(:id), value: @product.id },
        { label: Product.human_attribute_name(:name), value: @product.name },
        { label: Product.human_attribute_name(:price), value: number_to_currency(@product.price) },
        { label: Product.human_attribute_name(:stock), value: "#{@product.current_stock} ( #{@product.min_stock} / #{@product.max_stock} )" },
        { label: Product.human_attribute_name(:stock_level), value: render("common/products/stock_level", product: @product) },
      ]
    ) %>
    <div class="mb-6 overflow-hidden rounded-lg bg-white-100 shadow-sm px-4 py-5 sm:p-6">
      <div class="mb-6 text-sm font-medium leading-6 text-gray-100"><%= Product.human_attribute_name(:comments) %></div>
      <%= @product.comments %>
    </div>
  </div>
  <div>
    <div class="overflow-hidden mb-6 bg-white-100 shadow-sm sm:rounded-lg">
      <div class="px-4 py-6 sm:px-6">
        <h3 class="text-base/6 font-semibold text-gray-900"><%= Product.human_attribute_name(:suppliers) %></h3>
      </div>
      <%= turbo_frame_tag "supplier_products_list" do %>
        <div class="border-t border-light-gray-300">
          <dl class="divide-y divide-light-gray-100">
            <% if @product.supplier_products.any? %>
              <% @product.supplier_products.each do |supplier_product| %>
                <div class="px-4 py-6 sm:grid sm:grid-cols-2 sm:gap-4 sm:px-6">
                  <dt class="text-sm font-medium text-gray-900"><%= supplier_product.supplier_name %></dt>
                  <dd class="mt-1 text-sm/6 text-gray-700 flex gap-4 items-center sm:mt-0">
                    <span class="grow"><%= supplier_product.code %></span>
                    <span class="grow text-right"><%= number_to_currency supplier_product.price %></span>
                    <% if supplier_product.supplier == @product.main_supplier %>
                      <%= heroicon("star", options: { class: "h-4 w-4 text-green" }) %>
                    <% else %>
                      <%= form_with(model: [:office, @product]) do |form| %>
                        <%= form.hidden_field :supplier_id, value: supplier_product.supplier_id %>
                        <%= form.button do %>
                          <%= heroicon("star", options: { class: "transition text-light-gray-300 hover:text-light-green h-4 w-4 cursor-pointer" }) %>
                        <% end %>
                      <% end %>
                    <% end %>
                  </dd>
                </div>
              <% end %>
            <% else %>
              <p class="px-4 py-6 sm:px-6 text-sm/6 text-light-gray-700 italic">
                <%= t("messages.no_suppliers") %>
              </p>
            <% end %>
          </dl>
        </div>
      <% end %>
    </div>
    <%= render "office/products/productables/#{@product.productable_name}", productable: @product.productable %>
  </div>
  <div>
    <div class="border-b border-light-gray-500 bg-white py-6 mb-6">
      <h3 class="text-base font-semibold text-gray-900">Historial de cambios</h3>
    </div>
    <ul role="list" class="-mb-8">
      <li>
        <div class="relative pb-8">
          <div class="relative flex space-x-3">
            <div>
              <span class="flex h-8 w-8 items-center justify-center rounded-full bg-green-500 ring-8 ring-white">
                <svg class="h-5 w-5 text-white" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                </svg>
              </span>
            </div>
            <div class="flex min-w-0 flex-1 justify-between space-x-4 pt-1.5">
              <div>
                <p class="text-sm text-gray-500">Producto ingresado</p>
              </div>
              <div class="whitespace-nowrap text-right text-sm text-gray-500">
                <time title="<%= l(@product.created_at, format: :compact) %>" datetime="<%= l(@product.created_at, format: :machine) %>"><%= l(@product.created_at, format: :short) %></time>
              </div>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
