<%= simple_form_for [:factory, @formula_element] do |f| %>
  <% if @formula_element.errors.any? %>
    <div class="alert alert-error">
      <ul>
        <% @formula_element.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="inputs">
    <%= f.input :name, input_html: { :class => 'span4' } %>
  </div>
  <div class="inputs">
    <%= f.input :min_stock, :as => :string, input_html: { :class => 'span4' } %>
  </div>
  <div class="inputs">
    <%= f.input :current_stock, :as => :string, input_html: { :class => 'span4' } %>
  </div>
  <div class="inputs">
    <%= f.input :infinite %>
  </div>
  <br />
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t(:delete, :scope => [:actions]), factory_formula_element_path(@formula_element), :method => :delete, :data => {:confirm => t("messages.are_you_sure")}, :class => 'btn btn-danger pull-right' unless @formula_element.new_record? -%>
  </div>
<% end %>
