<%= simple_form_for [:factory, @formula_element] do |f| %>
  <%= f.error_notification %>

  <div class="inputs">
    <%= f.input :name, input_html: { :class => 'span4' } %>
  </div>
  <div class="inputs">
    <%= f.input :min_stock, input_html: { :class => 'span4' } %>
  </div>
  <div class="inputs">
    <%= f.input :current_stock, input_html: { :class => 'span4' } %>
  </div>
  <div class="inputs">
    <%= f.input :infinite %>
  </div>
  <br />
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
