<%= will_paginate formula_elements %>

<table>
  <thead>
    <tr>
      <th></th>
      <th>
        <%= sort_link(search, :id, FormulaElement.human_attribute_name(:id)) %>
      </th>
      <th>
        <%= sort_link(search, :name, FormulaElement.human_attribute_name(:name)) %>
      </th>
    </tr>
  </thead>

  <tbody>
    <% formula_elements.each do |formula_element| %>
      <tr class="formula-elements-list" data-formula-element-id="<%= formula_element.id %>">
        <td><%= check_box_tag :select %></td>
        <td><%= formula_element.id %></td>
        <td><%= link_to formula_element.name, factory_formula_element_path(formula_element) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate formula_elements %>
