<% content_for :secondary_navigation do %>
  <li class="active"><a href="#"><%= t :index, :scope => [:menu] %></a></li>
  <li><%= link_to t(:new, :scope => [:menu]), new_factory_formula_element_path %></li>
  <li style="display: none;"><%= link_to t(:join, :scope => [:menu]), join_factory_formula_elements_path, :id => "join_formula_elements_button" %></li>
<% end %>

<%= form_for @search, :url => factory_formula_elements_path, :html => { :method => :get, :class => 'form-inline' } do |f| %>
  <%= f.text_field :id_eq, :placeholder => 'ID' %>
  <%= f.text_field :name_cont, :placeholder => 'Nombre' %>
  <%= f.submit t(:search, :scope => [:actions]), :class => 'btn' %>
<% end %>
<hr>
<table id="formula_elements_list" class="table">
  <thead>
    <tr>
      <th class="span1"><%= sort_link(@search, :id, FormulaElement.human_attribute_name(:id)) %></th>
      <th class="span2"><%= sort_link(@search, :name, FormulaElement.human_attribute_name(:name)) %></th>
      <th><%= sort_link(@search, :stock, FormulaElement.human_attribute_name(:stock)) %></th>
    </tr>
  </thead>
  <tbody>
    <% @formula_elements.each do |formula_element| %>
      <tr>
        <td>
          <label class="checkbox inline">
            <%= check_box_tag "element_ids[#{formula_element.id}]", 1, false, :data => { :element_id => formula_element.id} %>
            <%= formula_element.id %>
          </label>
        </td>
        <td><%= link_to formula_element.name, factory_formula_element_path(formula_element) %></td>
        <td>
          <a href="<%= factory_formula_element_path formula_element %>" rel="tooltip" title="<%= number_with_precision formula_element.current_stock %>" style="background-color: <%= calculate_percentage_color(formula_element) %>; width: <%= calculate_percentage_width(formula_element) %>%" class="formula-element-chart"></a>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<div class="pull-right">
  <%= will_paginate @making_orders %>
</div>