<% content_for :secondary_navigation do %>
  <li><%= link_to t(:index, :scope => [:menu]), factory_formula_elements_path %></li>
  <li><%= link_to t(:new, :scope => [:menu]), new_factory_formula_element_path %></li>
  <li class="active"><a href="#"><%= t(:join, :scope => [:menu]) %></a></li>
<% end %>

<%= simple_form_for @formula_element, :url => join_factory_formula_elements_path, :method => :post do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, input_html: { :class => 'span4' } %>
  <%= f.input :min_stock, input_html: { :class => 'span4' } %>
  <%= f.input :current_stock, input_html: { :class => 'span4' } %>
  <%= f.input :infinite %>
  <% @formula_elements.each do |element| %>
    <%= hidden_field_tag 'formula_element_ids[]', element.id, :id => "hidden_formula_element_id_#{element.id}" %>
  <% end %>
  <br />
  <div class="form-actions">
    <%= f.button :submit, t(:join, :scope => [:actions]), :class => 'btn-primary' %>
  </div>
<% end %>
