<% content_for :secondary_navigation do %>
  <li><%= link_to t(:index, :scope => [:menu]), factory_formula_elements_path %></li>
  <li><%= link_to t(:new, :scope => [:menu]), new_factory_formula_element_path %></li>
  <li class="active"><%= link_to t(:report, :scope => [:menu, :formula_element]), report_factory_formula_elements_path %></li>
<% end %>

<%= form_for @search, :url => report_factory_formula_elements_path, :html => { :method => :get, :class => 'form-inline' } do |f| %>
  <%= f.date_select :updated_at_gteq, {}, :class => 'span1' %><br/>
  <%= f.date_select :updated_at_lteq, {}, :class => 'span1' %><br/>
  <%= f.submit t(:filter, :scope => [:actions]), :class => 'btn' %>
<% end %>

<table class="">
  <tbody>
    <% @formula_elements.each do |formula_element| %>
      <tr>
        <td><%= formula_element.formula_element_name %></td>
        <td class="amount"><%= formula_element.consumed_stock.ceil %> Kg</td>
      </tr>
    <% end %>
  </tbody>
  <tfoot>
    <tr>
      <td>
        <h4>Total</h4>
      </td>
      <td class="amount">
         <b><%= @formula_elements.inject(0.0){|sum, item| sum = sum + item.consumed_stock}.round %> Kg</b>
      </td>
    </tr>
  </tfoot>
</table>

