<% content_for :secondary_navigation do %>
  <li><%= link_to t(:index, :scope => [:menu]), factory_formula_elements_path %></li>
  <li><%= link_to t(:new, :scope => [:menu]), new_factory_formula_element_path %></li>
  <li class="active"><a href="#"><%= t(:show, :scope => [:menu]) %></a></li>
  <li><%= link_to t(:edit, :scope => [:menu]), edit_factory_formula_element_path(@formula_element) %></li>
<% end %>

<div class="row">
  <div class="span4">
    <label class="label"><%= FormulaElement.human_attribute_name :name %></label>
    <p><%= @formula_element.name %></p>

    <% if @formula_element.infinite? %>
	    
	    <label class="label label-success"><%= FormulaElement.human_attribute_name :infinite %></label>

    <% else %>

	    <label class="label"><%= FormulaElement.human_attribute_name :min_stock %></label>
	    <p><%= @formula_element.min_stock %></p>

	    <label class="label"><%= FormulaElement.human_attribute_name :current_stock %></label>
	    <p><%= number_with_precision @formula_element.current_stock %></p>

	    <div class="formula-element-chart" style="background-color: <%= calculate_percentage_color(@formula_element) %>; width: <%= calculate_percentage_width(@formula_element) %>%"></div>

	  <% end -%>
  </div>
</div>


<div class="form-actions">
  <%= link_to t("actions.delete"), factory_formula_element_path(@formula_element), :method => :delete, :confirm => t("messages.are_you_sure"), :class => 'btn btn-danger pull-right' %>
</div>
