<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:   total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
-%>
<%= paginator.render do -%>
  <div class="flex items-center justify-between border-t border-lightGray bg-white py-3 sm:px-6 lg:px-8">
    <div class="flex flex-1 justify-between sm:hidden">
      <% if current_page.first? %>
        <span class="relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-lightGray"><%= t("views.pagination.previous") -%></span>
      <% else %>
        <%= link_to(
          t("views.pagination.previous"),
          url_for(request.query_parameters.merge(page: current_page - 1)),
          rel: "prev",
          class: "relative inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-lightGray",
          data: { turbo_action: "advance" },
        ) %>
      <% end %>
      <% if current_page.last? %>
        <span class="relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-lightGray"><%= t("views.pagination.next") %></span>
      <% else %>
        <%= link_to(
          t("views.pagination.next"),
          url_for(request.query_parameters.merge(page: current_page + 1)),
          rel: "next",
          class: "relative ml-3 inline-flex items-center rounded-md border border-gray-300 bg-white px-4 py-2 text-sm font-medium text-gray-700 hover:bg-lightGray",
          data: { turbo_action: "advance" },
        ) %>
      <% end %>
    </div>
    <div class="hidden sm:flex sm:flex-1 sm:items-center sm:justify-between">
      <div>
        <p class="text-sm text-gray-700">
          <span class="font-medium"><%= total_count %></span>
          <%= t("views.pagination.entries") %>
        </p>
      </div>
      <div>
        <nav class="isolate inline-flex -space-x-px rounded-md shadow-sm" aria-label="Pagination">
          <%= prev_page_tag %>
          <!-- Current: "z-10 bg-blue text-white focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-blue", Default: "text-gray-900 ring-1 ring-inset ring-gray-300 hover:bg-lightGray-300 focus:outline-offset-0" -->
          <% each_page do |page| -%>
            <% if page.display_tag? -%>
              <%= page_tag page %>
            <% elsif !page.was_truncated? -%>
              <%= gap_tag %>
            <% end -%>
          <% end -%>
          <%= next_page_tag %>
        </nav>
      </div>
    </div>
  </div>
  <%#= first_page_tag unless current_page.first? %>
  <%#= prev_page_tag unless current_page.first? %>
  <%# each_page do |page| -%>
    <%# if page.display_tag? -%>
    <%#= page_tag page %>
    <%# elsif !page.was_truncated? -%>
    <%#= gap_tag %>
    <%# end -%>
    <%# end -%>
    <%# unless current_page.out_of_range? %>
    <%#= next_page_tag unless current_page.last? %>
    <%#= last_page_tag unless current_page.last? %>
    <%# end %>
  <% end -%>
