<%= simple_form_for [:business, @delivery_note] do |f| %>
  <% if @delivery_note.errors.any? %>
    <div class="alert alert-error">
      <ul>
        <% @delivery_note.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <div class="span5">
      <input type="text" id="search_clients" class="autocomplete span5" placeholder="Buscar cliente por ID o nombre">
      <div id="client">
        <%= render :partial => 'client', :locals => { :client => @delivery_note.client } unless @delivery_note.client.nil? %>
      </div>
    </div>
    <div class="span5">
      <%= f.input :comments, :input_html => { :rows => 2 } %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="span10">
      <input type="text" id="search_products" class="autocomplete span10" placeholder="Buscar producto por ID o nombre">
      <table id="products_list" class="table">
        <thead>
          <tr>
            <th class=""><%= MakingOrderItem.human_attribute_name :quantity %></th>
            <th class=""><%= Product.human_attribute_name :id %></th>
            <th class=""><%= Product.human_attribute_name :formula %></th>
            <th class=""><%= Product.human_attribute_name :shape %></th>
            <th class=""><%= Product.human_attribute_name :size %></th>
            <th class=""><%= Product.human_attribute_name :weight %></th>
            <th class=""><%= Product.human_attribute_name :pressure %></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @delivery_note.delivery_note_items.each do |item| %>
            <%= render :partial => "delivery_note_item", :locals => { :item => item } %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
  </div>
<% end %>
