<% content_for :secondary_navigation do %>
  <li class="active"><a href="#"><%= t :index, :scope => [:menu] %></a></li>
  <li><%= link_to t(:new, :scope => [:menu]), new_business_delivery_note_path %></li>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= DeliveryNote.human_attribute_name(:id) %></th>
      <th><%= DeliveryNote.human_attribute_name(:client_id) %></th>
      <th><%= DeliveryNote.human_attribute_name(:comments) %></th>
      <th><%= DeliveryNote.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @delivery_notes.each do |delivery_note| %>
      <tr>
        <td><%= link_to delivery_note.id, business_delivery_note_path(delivery_note) %></td>
        <td><%= delivery_note.client_name %></td>
        <td><%= delivery_note.comments %></td>
        <td><%=l delivery_note.created_at %></td>
       </tr>
    <% end %>
  </tbody>
</table>
