<% content_for :secondary_navigation do %>
  <li><%= link_to t(:index, :scope => [:menu]), business_delivery_notes_path %></li>
  <li class="active"><%= link_to t(:new, :scope => [:menu]), new_business_delivery_note_path %></li>
  <li><%= link_to t(:edit, :scope => [:menu]), edit_business_delivery_note_path(@delivery_note) %></li>
<% end %>

<dl class="dl-horizontal">
  <dt><strong><%= DeliveryNote.human_attribute_name(:client) %>:</strong></dt>
  <dd><%= @delivery_note.client_name %></dd>
  <% unless @delivery_note.comments.blank? %>
  <dt><strong><%= DeliveryNote.human_attribute_name(:comments) %>:</strong></dt>
  <dd><%= @delivery_note.comments %></dd>
  <% end %>
  <dt><strong><%= DeliveryNote.human_attribute_name(:state) %>:</strong></dt>
  <dd><%= delivery_note_state(@delivery_note) %></dd>
</dl>

<table id="products_list" class="table">
  <thead>
    <tr>
      <th><%= MakingOrderItem.human_attribute_name :quantity %></th>
      <th><%= Product.human_attribute_name :id %></th>
      <th><%= Product.human_attribute_name :formula %></th>
      <th><%= Product.human_attribute_name :shape %></th>
      <th><%= Product.human_attribute_name :size %></th>
      <th><%= Product.human_attribute_name :weight %></th>
    </tr>
  </thead>
  <tbody>
    <% @delivery_note.delivery_note_items.each do |item| %>
      <tr>
        <td><%= item.quantity %></td>
        <td><%= item.product.id %></td>
        <td><%= item.product.formula_name %></td>
        <td><%= item.product.shape %></td>
        <td><%= item.product.size %></td>
        <td><%= number_with_precision item.product.weight %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<div class="form-actions">
  <%= links_by_state(@delivery_note) %>
</div>
