<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @client_type.name %>
</p>

<p>
  <b>Description:</b>
  <%= @client_type.description %>
</p>


<%= link_to 'Edit', edit_client_type_path(@client_type) %> |
<%= link_to 'Back', client_types_path %>
