<%= render(
  "common/headings/page",
  breadcrumbs: [
    { title: t("navigation.dashboard"), path: office_root_path },
    { title: t("titles.client.index"), path: office_clients_path },
    { title: @client.name, path: office_client_path(@client) },
  ],
  title: @client.name,
  actions: [
    { label: t("navigation.edit"), path: edit_office_client_path(@client), method: :get },
  ],
) %>
<div class="grid grid-cols-1 xl:grid-cols-2 gap-8 mt-6">
  <div>
    <%= render(
      "common/lists/description",
      items: [
        { label: Client.human_attribute_name(:id), value: @client.id },
        { label: Client.human_attribute_name(:name), value: @client.name },
        { label: Client.human_attribute_name(:tax_identification), value: @client.tax_identification },
        { label: Client.human_attribute_name(:client_type), value: t("#{@client.client_type}", scope: [ :activerecord, :attributes, :client, :client_type_values ]) },
        { label: Client.human_attribute_name(:phone), value: @client.phone },
        { label: Client.human_attribute_name(:email), value: @client.email },
      ]
    ) %>
  </div>
  <div>
    <%= render(
      "common/lists/description",
      items: [
        {
          label: Client.human_attribute_name(:address),
          block: -> {
            if @client.maps_url.present?
              link_to(safe_url(@client.maps_url), class: "flex items-center gap-2", target: "_blank") do
                heroicon("map-pin", options: { class: "h-4 w-4 shrink-0 transition text-gray-300 hover:text-gray-700" }) +
                @client.address
              end
            else
              @client.address
            end
          },
        },
        { label: Client.human_attribute_name(:country), value: @client.country },
        { label: Client.human_attribute_name(:province), value: @client.province },
        { label: Client.human_attribute_name(:zipcode), value: @client.zipcode },
      ]
    ) %>
  </div>
  <div class="col-span-1 xl:col-span-2">
    <div class="border-b border-light-gray-500 bg-white py-6 mb-6">
      <h3 class="text-base font-semibold text-gray-900"><%= t("titles.recent_activities") %></h3>
    </div>
    <div class="grid gap-8 grid-cols-1 lg:grid-cols-2">
      <%= render("common/components/activities", activities: @recent_activities, user_names: @version_user_names) %>
    </div>
  </div>
</div>
