<%= render(
  "common/headings/page",
  breadcrumbs: [
    { title: t("navigation.dashboard"), path: office_root_path },
    { title: t("titles.supplier.index"), path: office_suppliers_path },
    { title: @supplier.name, path: office_supplier_path(@supplier) },
  ],
  title: @supplier.name,
  actions: [
    { label: t("navigation.edit"), path: edit_office_supplier_path(@supplier), method: :get },
  ],
) %>
<div class="grid grid-cols-1 lg:grid-cols-2 2xl:grid-cols-3 gap-8 mt-6">
  <div>
    <%= render(
      "common/lists/description",
      items: [
        { label: Supplier.human_attribute_name(:name), value: @supplier.name },
        { label: Supplier.human_attribute_name(:email), value: @supplier.email },
        { label: Supplier.human_attribute_name(:phone), value: @supplier.phone },
        { label: Supplier.human_attribute_name(:comments), value: @supplier.comments },
      ]
    ) %>
  </div>

  <div>
    <%= render(
      "common/lists/description",
      items: [
        {
          label: Supplier.human_attribute_name(:address),
          block: -> {
            if @supplier.maps_url.present?
              link_to(safe_url(@supplier.maps_url), class: "flex items-center gap-2", target: "_blank") do
                heroicon("map-pin", options: { class: "h-4 w-4 shrink-0 transition text-gray-300 hover:text-gray-700" }) +
                @supplier.address
              end
            else
              @supplier.address
            end
          },
        },
        { label: Supplier.human_attribute_name(:country), value: @supplier.country },
        { label: Supplier.human_attribute_name(:province), value: @supplier.province },
        { label: Supplier.human_attribute_name(:zipcode), value: @supplier.zipcode },
      ]
    ) %>
  </div>

  <div>
    <%= render(
      "common/lists/description",
      items: [
        { label: Supplier.human_attribute_name(:tax_type), value: t(@supplier.tax_type, scope: [ :activerecord, :attributes, :supplier, :tax_type_values ]) },
        { label: Supplier.human_attribute_name(:tax_identification), value: @supplier.tax_identification },
        { label: Supplier.human_attribute_name(:bank_name), value: @supplier.bank_name },
        { label: Supplier.human_attribute_name(:bank_account_number), value: @supplier.bank_account_number },
        { label: Supplier.human_attribute_name(:routing_number), value: @supplier.routing_number },
      ]
    ) %>
  </div>

  <div class="col-span-1 xl:col-span-2 2xl:col-span-3">
    <div class="border-b border-light-gray-500 bg-white py-6 mb-6">
      <h3 class="text-base font-semibold text-gray-900"><%= t("titles.recent_activities") %></h3>
    </div>
    <div class="grid gap-8 grid-cols-1 lg:grid-cols-2">
      <%= render("common/components/activities", audit_logs: @audit_logs) %>
    </div>
  </div>
</div>
