<%# locals: (items:)  %>

<% unique_id = "options-dropdown-button-#{SecureRandom.uuid}" %>

<div
  class="flex flex-shrink-0"
  data-controller="common--options-dropdown"
  data-common--options-dropdown-bottom-position-class="top-auto"
  data-common--options-dropdown-left-position-class="right-0"
  data-common--options-dropdown-right-position-class="left-2"
  data-common--options-dropdown-top-position-class="bottom-14"
  data-common--options-dropdown-button-open-class="bg-blue-700"
  data-common--options-dropdown-menu-close-class="opacity-0 scale-95"
  data-common--options-dropdown-menu-open-class="opacity-100 scale-100"
>
  <div class="flex flex-1 relative text-left">
    <button
      data-action="click->common--options-dropdown#toggle"
      data-common--options-dropdown-target="button"
      class="flex flex-1 items-center gap-x-4 px-6 py-3 text-sm font-semibold leading-6 text-white hover:bg-blue-700"
    >
      <%= image_tag Current.user.cover_thumbnail, class: "size-8 inline-block rounded-full ring-1 ring-gray-900/10 object-cover" %>
      <span class="sr-only">Tu perfil</span>
      <span aria-hidden="true"><%= Current.user.name %></span>
    </button>
    <div
      class="transition transform opacity-0 scale-95 absolute z-10 mt-2 w-56 origin-top-right rounded-md bg-white shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none"
      role="menu"
      aria-orientation="vertical"
      aria-labelledby="<%= unique_id %>"
      tabindex="-1"
      data-common--options-dropdown-target="menu"
    >
      <div class="py-1" role="none">
        <% items.each_with_index do |item, index| %>
          <!-- Active: "bg-gray-100 text-gray-900", Not Active: "text-gray-700" -->
          <%= capture do %>
            <%= item.call("block px-4 py-2 text-sm text-gray-700", index: index) %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
