<table class="full">
  <tbody>
    <tr>
      <th class="title"><span class="highlight">A</span>rchivo</th>
      <th>Fecha <%= l @making_order.created_at.to_date, :format => :default %></th>
      <th>Órden #<%= @making_order.id %></th>
    </tr>
  </tbody>
</table>

<table class="full">
  <tbody>
    <tr>
      <td>ID</td>
      <td><b><%= @making_order.making_order_formula.formula_id %></b></td>
      <td><%= Formula.human_attribute_name :abrasive %></td>
      <td><b><%= @making_order.making_order_formula.formula_abrasive %></b></td>
      <td><%= Formula.human_attribute_name :grain %></td>
      <td><b><%= @making_order.making_order_formula.formula_grain %></b></td>
      <td><%= Formula.human_attribute_name :hardness %></td>
      <td><b><%= @making_order.making_order_formula.formula_hardness %></b></td>
      <td><%= Formula.human_attribute_name :porosity %></td>
      <td><b><%= @making_order.making_order_formula.formula_porosity %></b></td>
      <td><%= Formula.human_attribute_name :alloy %></td>
      <td><b><%= @making_order.making_order_formula.formula_alloy %></b></td>
    </tr>
  </tbody>
</table>

<table class="layout full">
  <tr>
    <td>
        <table class="full">
          <thead>
            <tr>
              <th colspan="6">Prensa</th>
            </tr>
            <tr>
              <th>ID</th>
              <th class="amount">Canti</th>
              <th>Forma</th>
              <th>Medida</th>
              <th>Presión</th>
              <th class="amount">Peso(kg)</th>
            </tr>
          </thead>
          <tbody>
            <% @making_order.making_order_items.each do |item| %>
              <tr>
                <td><%= item.product.id %></td>
                <td class="amount"><%= item.quantity %></td>
                <td><%= item.product_shape %></td>
                <td><%= item.product_size %></td>
                <td><%= item.product_pressure %></td>
                <td class="amount"><%= number_with_precision item.product_weight %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </td>
    <td>
      <table class="full">
        <thead>
          <tr>
            <th colspan="2">Mezcla</th>
          </tr>
          <tr>
            <th>Tipo y grano</th>
            <th class="amount">Peso (kg)</th>
          </tr>
        </thead>
        <tbody>
          <% @making_order.making_order_formula.making_order_formula_items.each do |item| %>
            <tr>
              <td><%= item.formula_element_name %></td>
              <td class="amount"><%= formula_item_weight_per_round(item.proportion, @making_order.weight_per_round) %></td>
            </tr>
          <% end %>
          <tr>
            <th><%= @making_order.rounds_count %> mezclas de</th>
            <th class="amount"><%= number_with_precision @making_order.weight_per_round %> kg</th>
          </tr>
          <tr>
            <th>Total</th>
            <th class="amount"><%= number_with_precision @making_order.total_weight %> kg</th>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <table class="full">
        <tbody>
          <tr>
            <th style="width: 1px">Observaciones</th>
            <td class="comments"><pre><%= @making_order.comments %></pre></td>
          </tr>
        </tbody>
      </table>
    </td>
  </tr>
</table>
<table class="layout full">
  <tbody>
    <tr>
      <td>
        <p class="note">Tolerancia en peso +/- 5g<br/>
          Tolerancia en medida +/- 0.5mm</p>
      </td>
      <td class="smaller-as-it-can nowrap">
        <p class="note"><%= Comman::REVISION_ID %></p>
      </td>
    </tr>
  </tbody>
</table>
