<%= form_for([:factory, product]) do |f| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= t('messages.form_errors', count: product.errors.count) %></h2>
      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :formula %>
    <%= f.collection_select(:formula_id, Formula.all, :id, :name) %>
  </div>

  <div class="field">
    <%= f.label :shape %>
    <%= f.text_field :shape %>
  </div>

  <div class="field">
    <%= f.label :size %>
    <%= f.text_field :size %>
  </div>

  <div class="field">
    <%= f.label :weight %>
    <%= f.text_field :weight %>
  </div>

  <div class="field">
    <%= f.label :pressure %>
    <%= f.text_field :pressure %>
  </div>

  <div class="field">
    <%= f.label :price %>
    <%= f.text_field :price %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
