<%= form_with(model: [:factory, product], class: "contents") do |form| %>
  <%= render "common/error_messages", model: product %>
  <%= render "common/forms/simple" do %>
    <div class="col-span-6 md:col-span-3 grid grid-cols-1 gap-x-6 gap-y-8">

      <div>
        <%= render 'common/components/combobox_input', placeholder: "Seleccione una fórmula" do %>
          <% Formula.all.each do |formula| %>
            <li class="relative cursor-default select-none py-2 pl-3 pr-9 text-gray-900" role="option" data-action="click->common--combobox-input#select mouseenter->common--combobox-input#highlight" data-common--combobox-input-target="option">
              <span class="block truncate font-normal"><%= formula.name %></span>
              <span class="absolute inset-y-0 right-0 flex items-center pr-4 text-blue-700">
                <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
                  <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 0 1 .143 1.052l-8 10.5a.75.75 0 0 1-1.127.075l-4.5-4.5a.75.75 0 0 1 1.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 0 1 1.05-.143Z" clip-rule="evenodd" />
                </svg>
              </span>
            </li>
          <% end %>
        <% end %>
      </div>
      <div>
        <%= form.label :formula_id, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.collection_select(
            :formula_id,
            Formula.all,
            :id,
            :name,
            { prompt: true },
            {
              class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:text-sm sm:leading-6",
            },
          ) %>
        </div>
      </div>

      <div>
        <%= form.label :shape, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.text_field :shape, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <%= form.label :size, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.text_field :size, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <%= form.label :weight, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.number_field :weight, min: 0, step: 0.01, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <%= form.label :pressure, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.text_field :pressure, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <%= form.label :price, min: 0, step: 0.01, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="mt-2">
          <%= form.number_field :price, class: "block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:text-sm sm:leading-6" %>
        </div>
      </div>

      <div>
        <%= form.button t('actions.save'), class: 'btn-primary' %>
      </div>
    </div>
  <% end %>
<% end %>
