<%= will_paginate products %>
<table>
  <thead>
    <tr>
      <th><%= sort_link(search, :id, Product.human_attribute_name(:id)) %></th>
      <th><%= sort_link(search, :shape, Product.human_attribute_name(:shape)) %></th>
      <th><%= sort_link(search, :size, Product.human_attribute_name(:size)) %></th>
      <th><%= sort_link(search, :weight, Product.human_attribute_name(:weight)) %></th>
      <th><%= sort_link(search, :pressure, Product.human_attribute_name(:pressure)) %></th>
      <th><%= sort_link(search, :price, Product.human_attribute_name(:price)) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% products.each do |product| %>
      <tr>
        <td><%= product.id %></td>
        <td><%= product.shape %></td>
        <td><%= product.size %></td>
        <td><%= product.weight %></td>
        <td><%= product.pressure %></td>
        <td><%= product.price %></td>
        <td><%= link_to 'Show', factory_product_path(product) %></td>
        <td><%= link_to 'Edit', edit_factory_product_path(product) %></td>
        <td><%= link_to 'Destroy', factory_product_path(product), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate products %>
