<h1><%= Product.model_name.human(count: 2) %></h1>

<%= link_to t('actions.new'), new_factory_product_path %>

<%= form_for @search, url: factory_products_path, html: { method: :get } do |f| %>
  <%= f.text_field :id_eq, placeholder: 'ID' %>
  <%= f.text_field :name_cont, placeholder: 'Nombre' %>
  <%= f.submit 'Buscar' %>
<% end %>

<div id="product-list">
  <%= render 'list', products: @products, search: @search %>
</div>
