<% content_for :secondary_navigation do %>
  <li class="active"><a href="#"><%= t :index, :scope => [:menu] %></a></li>
  <li><%= link_to t(:new, :scope => [:menu]), new_factory_product_path %></li>
<% end %>

<table class="table table-striped">
  <thead>
    <tr>
      <th class="amount span1"></th>
      <th><%= Product.human_attribute_name :name %></th>
      <th><%= Product.human_attribute_name :formula %></th>
      <th class="amount"><%= Product.human_attribute_name :price %></th>
      <th><%= Product.human_attribute_name :created_at %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| -%>
      <tr>
        <td class="amount"><%= product.id %></td>
        <td><%= link_to product.name, factory_product_path(product) %></td>
        <td><%= link_to product.formula_name, factory_formula_path(product.formula) %></td>
        <td class="amount"><%= number_to_currency product.price %></td>
        <td><%=l product.created_at, :format => :short %></td>
      </tr>
    <% end -%>
  </tbody>
</table>
