<% content_for :secondary_navigation do %>
  <li><%= link_to t(:index, :scope => [:menu]), factory_products_path %></li>
  <li><%= link_to t(:new, :scope => [:menu]), new_factory_product_path %></li>
  <li class="active"><a href="#"><%= t(:show, :scope => [:menu]) %></a></li>
  <li><%= link_to t(:edit, :scope => [:menu]), edit_factory_product_path(@product) %></li>
<% end %>

<div class="row">
  <div class="span3">
    <label class="label"><%= Product.human_attribute_name :id %>:</label>
    <p>#<%= @product.id %></p>

    <label class="label"><%= Product.human_attribute_name :name %>:</label>
    <p><%= @product.name %></p>

    <label class="label"><%= Product.human_attribute_name :formula %>:</label>
    <p>
      <%= link_to factory_formula_path(@product.formula) do %>
        <b>#<%= @product.formula_id %></b>
        <%= @product.formula_name %>
      <% end %>
    </p>

  </div>
  <div class="span3">
    <label class="label"><%= Product.human_attribute_name :size %>:</label>
    <p><%= @product.size %></p>
    
    <label class="label"><%= Product.human_attribute_name :weight %>:</label>
    <p><%= number_with_precision @product.weight %>kg</p>

    <label class="label"><%= Product.human_attribute_name :pressure %>:</label>
    <p><%= @product.pressure %></p>

    <label class="label"><%= Product.human_attribute_name :price %>:</label>
    <p><%= number_to_currency @product.price %></p>
  </div>
</div>
