<%= render(
  "common/headings/page_with_cover",
  breadcrumbs: [
    { title: t("navigation.dashboard"), path: factory_root_path },
    { title: t("titles.product.index"), path: factory_products_path },
    { title: @product.name, path: factory_product_path(@product) },
  ],
  title: @product.name,
  cover: @product.cover,
  actions: [
    { label: t("navigation.edit"), path: edit_factory_product_path(@product), method: :get },
  ],
) %>
<div class="grid grid-cols-1 xl:grid-cols-2 gap-8 mt-6">
  <div>
    <%= render(
      "common/lists/description",
      items: [
        { label: Product.human_attribute_name(:id), value: @product.id },
        { label: Product.human_attribute_name(:name), value: @product.name },
        { label: Product.human_attribute_name(:stock), value: "#{@product.current_stock} ( #{@product.min_stock} / #{@product.max_stock} )" },
        { label: Product.human_attribute_name(:stock_level), value: render("common/products/stock_level", product: @product) },
      ]
    ) %>
    <div class="mb-6 overflow-hidden rounded-lg bg-white-100 shadow-sm px-4 py-5 sm:p-6">
      <div class="mb-6 text-sm font-medium leading-6 text-gray-100"><%= Product.human_attribute_name(:comments) %></div>
      <%= @product.comments %>
    </div>
  </div>
  <div>
    <%= render(
      "common/lists/description",
      items: [
        {
          label: ManufacturedProduct.human_attribute_name(:formula),
          block: -> {
            link_to(factory_formula_path(@product.manufactured_product.formula), class: "font-semibold") do
              "#{@product.manufactured_product.formula_name} (##{@product.manufactured_product.formula_id})"
            end
          },
        },
        { label: ManufacturedProduct.human_attribute_name(:shape), value: @product.manufactured_product.shape },
        { label: ManufacturedProduct.human_attribute_name(:size), value: @product.manufactured_product.size },
        { label: ManufacturedProduct.human_attribute_name(:weight), value: "#{number_with_precision(@product.manufactured_product.weight)} kg" },
        { label: ManufacturedProduct.human_attribute_name(:pressure), value: @product.manufactured_product.pressure },
      ]
    ) %>
  </div>
  <div class="col-span-1 xl:col-span-2">
    <div class="border-b border-light-gray-500 bg-white py-6 mb-6">
      <h3 class="text-base font-semibold text-gray-900"><%= t("titles.recent_activities") %></h3>
    </div>
    <div class="grid gap-8 grid-cols-1 lg:grid-cols-2">
      <%= render("common/components/activities", audit_logs: @audit_logs) %>
    </div>
  </div>
</div>
