<%# locals: (input_classes: nil, input_name:, input_value:, placeholder: nil, search_value:)  %>

<div
  data-controller="common--combobox-input"
  data-common--combobox-input-hidden-class="hidden"
  data-common--combobox-input-selected-class="bg-blue text-white focus:text-white hover:text-white focus:bg-blue-300 hover:bg-blue-300 outline-none"
>
  <div class="relative">
    <div class="relative">
      <input name="<%= input_name %>" value="<%= input_value %>" type="hidden" data-common--combobox-input-target="valueInput">
      <input
        placeholder="<%= placeholder %>"
        data-action="
          input->common--combobox-input#filter
          focus->common--combobox-input#focus
          keydown.down->common--combobox-input#focusNext
          keydown.enter->common--combobox-input#filter:prevent
          keydown.esc->common--combobox-input#close
        "
        data-common--combobox-input-target="searchInput"
        autocomplete="false"
        class="grid w-full cursor-default grid-cols-1 pr-2 rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-300 focus:ring-2 focus:ring-inset focus:ring-blue-300 sm:text-xs sm:leading-6 <%= input_classes %>"
        role="combobox"
        type="text"
        aria-expanded="true"
        aria-autocomplete="list"
        value="<%= search_value %>"
      >
      <button
        class="group absolute inset-y-0 right-0 px-2.5"
        type="button"
        tabindex="-1"
        aria-haspopup="listbox"
        aria-expanded="true"
        data-action="click->common--combobox-input#toggle"
        data-common--combobox-input-target="button"
      >
        <%= heroicon("chevron-down", options: { class: "size-4 fill-black/60 group-hover:fill-black" } ) %>
      </button>
    </div>

    <ul
      class="absolute z-10 mt-1 max-h-60 w-full overflow-auto min-h-9 rounded-md bg-white py-1 text-base shadow-lg ring-1 ring-black/5 focus:outline-none sm:text-sm hidden"
      tabindex="-1"
      role="listbox"
      aria-labelledby="listbox-label"
      data-common--combobox-input-target="menu"
    >
      <%= yield %>
    </ul>
  </div>
</div>
