<%# locals: (sales_order:)  %>

<%= form_with(
  model: [:sales, sales_order],
  class: "contents",
  data: {
    "controller": "sales--sales-orders--form",
    "sales--sales-orders--form-animation-class": "animate-change rounded shadow-xl/30 shadow-light-yellow-100 bg-light-yellow-100",
  },
) do |form| %>
  <%= render "common/error_messages", model: sales_order %>
  <%= render "common/forms/simple" do %>
    <div class="col-span-6">
      <div>
        <%= status_container_for sales_order.status do %>
          <%= t("activerecord.attributes.sales_order.status_values.#{sales_order.status}") %>
        <% end %>
      </div>
    </div>

    <div class="col-span-6 lg:col-span-3 grid grid-cols-1 gap-x-6 gap-y-8">
      <div
        data-controller="common--nested-form"
        data-common--nested-form-deleted-class="text-red line-through italic"
        class="grid grid-cols-1 gap-y-8 p-4 sm:px-6 rounded-lg bg-white-100 shadow-sm"
      >
        <div class="grid grid-cols-1 gap-y-8" data-common--nested-form-target="container">
          <h3 class="text-base font-semibold text-gray-900"><%= Product.model_name.human(count: 2) %></h3>
          <!-- Template for new sales order item -->
          <template data-common--nested-form-target="template">
            <%= render(
              "sales_order_item_fields",
              form: form,
              sales_order_item: SalesOrderItem.new,
              child_index: "NEW_RECORD",
            ) %>
          </template>

          <% sales_order.sales_order_items.each do |item| %>
            <%= render(
              "sales_order_item_fields",
              form: form,
              sales_order_item: item,
            ) %>
          <% end %>
        </div>

        <button type="button" data-action="common--nested-form#addItem" class="cursor-pointer"><%= heroicon("plus-circle", options: { class: "size-8 text-blue" }) %></button>
      </div>
    </div>

    <%= render "sales_order_fields", form: form, sales_order: sales_order %>

    <div data-sales--sales-orders--form-target="totals" class="col-span-6">
      <%= render "sales_order_totals", sales_order: sales_order %>
    </div>
  <% end %>

  <div class="flex gap-4 mt-6">
    <%= form.button t("actions.save"), type: :submit, class: "btn-default" %>
    <%= form.button t("actions.confirm"),
      type: :submit,
      value: "confirm",
      name: "commit",
      class: "btn-primary" %>
    <%= form.button t("actions.update_totals"),
      type: :submit,
      formmethod: :post,
      formaction: preview_totals_sales_sales_orders_path,
      class: "btn-default",
      hidden: true,
      data: { "sales--sales-orders--form-target": "previewButton" } %>
  </div>
<% end %>
