<%# locals: (sales_order:)  %>

<%= content_tag :div, id: "sales_order_totals_preview", class: "grid grid-cols-2 gap-6 p-4 sm:px-6 overflow-hidden rounded-lg bg-white-100 shadow-sm" do %>
  <div class="grid grid-cols-[1fr_auto] gap-x-10 gap-y-4">
    <span class="text-right font-normal text-gray-700"><%= SalesOrder.human_attribute_name(:subtotal_before_order_discount) %></span>
    <span class="text-right text-gray-900 tabular-nums"><%= number_to_currency(sales_order.subtotal_before_order_discount) %></span>
    <span class="text-right font-normal text-gray-700"><%= SalesOrder.human_attribute_name(:client_discount_value) %></span>
    <span class="text-right text-gray-900 tabular-nums"><%= number_to_currency(sales_order.client_discount_value) %></span>
    <span class="text-right font-semibold text-gray-900"><%= SalesOrder.human_attribute_name(:total_price) %></span>
    <span class="text-right font-semibold text-gray-900 tabular-nums"><%= number_to_currency(sales_order.subtotal_after_order_discount) %></span>
    <span class="text-right font-normal text-gray-700"><%= SalesOrder.human_attribute_name(:cash_discount_value) %></span>
    <span class="text-right text-gray-900 tabular-nums"><%= number_to_currency(sales_order.cash_discount_value) %></span>
    <span class="text-right font-normal text-gray-700"><%= SalesOrder.human_attribute_name(:subtotal_after_cash_discount) %></span>
    <span class="text-right text-gray-900 tabular-nums"><%= number_to_currency(sales_order.subtotal_after_cash_discount) %></span>
  </div>
<% end %>
