<%# locals: (sales_order:, sales_order_item:) %>

<div class="flex items-center gap-1">
  <%= turbo_frame_tag "sales_order_item_split_actions_#{sales_order_item.id}", class: "contents" do %>
    <% if sales_order_item.quantity > 0 %>
      <%= link_to(split_sales_sales_order_sales_order_item_path(sales_order, sales_order_item),
        class: "text-blue hover:text-blue-900 transition",
        title: t(".split"),
      ) do %>
        <%= heroicon("document-duplicate", variant: "outline", options: { class: "size-6", "aria-label": "plus" }) %>
        <span class="sr-only"><%= t(".split") %></span>
      <% end %>
    <% end %>
    <% if sales_order_item.confirmed? %>
      <%= button_to(work_on_sales_sales_order_sales_order_item_path(sales_order, sales_order_item),
        class: "cursor-pointer text-yellow hover:text-yellow-900 transition",
        method: :post,
        form_class: "contents",
        title: t(".work_on"),
      ) do %>
        <%= heroicon("hand-raised", variant: "outline", options: { class: "size-6", "aria-label": "hand-raised" }) %>
      <% end %>
    <% end %>
    <% if sales_order_item.in_progress? %>
      <%= button_to(complete_sales_sales_order_sales_order_item_path(sales_order, sales_order_item),
        class: "cursor-pointer text-blue hover:text-blue-900 transition",
        method: :post,
        form_class: "contents",
        title: t(".complete"),
      ) do %>
        <%= heroicon("cube", variant: "outline", options: { class: "size-6", "aria-label": "cube" }) %>
      <% end %>
    <% end %>
  <% end %>
</div>
