<%= render "common/headings/page",
  title: t(".title"),
  actions: [],
  breadcrumbs: [
    { title: t("navigation.dashboard"), path: sales_root_path },
    { title: t(".title"), path: sales_sales_orders_path },
  ] %>

<div class="w-full">
  <div class="mt-8 flow-root">
    <div class="flex flex-1">
      <%= search_form_for(
        @q,
        url: sales_sales_orders_path,
        method: :get,
        data: {
          turbo_frame: "sales_orders_table",
          turbo_action: "advance",
          controller: "common--submit-debounce",
          action: "input->common--submit-debounce#submit",
        },
        class: "w-full max-w-lg lg:max-w-xs",
      ) do |f| %>
        <%= f.label :id_or_comments_plain_text_or_client_name_cont, t("placeholders.search_by.attributes"), class: "sr-only" %>
        <div class="relative text-gray-300 focus-within:text-gray">
          <div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
            <svg class="size-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" data-slot="icon">
              <path fill-rule="evenodd" d="M9 3.5a5.5 5.5 0 1 0 0 11 5.5 5.5 0 0 0 0-11ZM2 9a7 7 0 1 1 12.452 4.391l3.328 3.329a.75.75 0 1 1-1.06 1.06l-3.329-3.328A7 7 0 0 1 2 9Z" clip-rule="evenodd" />
            </svg>
          </div>
          <%= f.search_field(
            :id_or_comments_plain_text_or_client_name_cont,
            autofocus: true,
            autocomplete: "off",
            class: "block w-full rounded-md border-0 ring-0 ring-offset-1 ring-offset-gray bg-white py-1.5 pl-10 pr-3 text-gray-900 focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-blue sm:text-sm/6",
            placeholder: t("placeholders.search_by.attributes"),
          ) %>
        </div>
      <% end %>
    </div>

    <%= turbo_frame_tag "sales_orders_table" do %>
      <% if @sales_orders.any? %>
        <div class="inline-block min-w-full py-2 align-middle">
          <table id="sales_orders" class="min-w-full divide-y divide-light-gray-900">
            <thead>
              <tr>
                <th scope="col" class="py-3 text-sm font-semibold text-gray-900 group">
                  <%= sort_link(@q, :id, SalesOrder.human_attribute_name(:id), class: "flex justify-center", data: { turbo_action: "advance"}) %>
                </th>
                <th scope="col" class="px-2 md:px-4 py-3 text-sm font-semibold text-gray-900 group">
                  <%= sort_link(@q, :client_name, SalesOrder.human_attribute_name(:client_name), class: "flex", data: { turbo_action: "advance"}) %>
                </th>
                <th scope="col" class="hidden sm:table-cell px-2 md:px-4 py-3 text-sm font-semibold text-gray-900 group">
                  <%= sort_link(@q, :products, SalesOrder.human_attribute_name(:sales_order_items), class: "flex", data: { turbo_action: "advance"}) %>
                </th>
                <th scope="col" class="px-2 md:px-4 py-3 text-sm font-semibold text-gray-900 group">
                  <%= sort_link(@q, :status_order, SalesOrder.human_attribute_name(:status), class: "flex justify-center", data: { turbo_action: "advance"}) %>
                </th>
                <th scope="col" class="px-2 md:px-4 py-3 text-sm font-semibold text-gray-900 group">
                  <%= sort_link(@q, :status_changed_at_order, SalesOrder.human_attribute_name(:status_changed_at), class: "flex justify-center", data: { turbo_action: "advance"}) %>
                </th>
                <th scope="col" class="hidden sm:table-cell px-2 md:px-4 py-3 text-sm font-semibold text-gray-900 group">
                  <%= sort_link(@q, :total_price, SalesOrder.human_attribute_name(:total_price), class: "flex justify-end", data: { turbo_action: "advance"}) %>
                </th>
              </tr>
            </thead>

            <tbody class="divide-y divide-light-gray">
              <% @sales_orders.each do |sales_order| %>
                <tr id="<%= dom_id sales_order %>">
                  <td class="whitespace-nowrap px-3 py-3 text-center text-sm text-gray-900">
                    <%= link_to sales_sales_order_path(sales_order), data: { turbo_frame: "_top" } do %>
                      <span class="sr-only"><%= t(".view_sales_order") %> </span><span><%= sales_order.id %></span>
                    <% end %>
                  </td>
                  <td class="hidden sm:table-cell whitespace-nowrap px-2 md:px-4 py-3 text-sm text-gray-500">
                    <%= sales_order.client_name %>
                  </td>
                  <td class="py-3 pl-4 pr-3 text-sm font-medium text-gray-900">
                    <%= sales_order.products.map(&:name).uniq.to_sentence %> (<%= sales_order.sales_order_items.map(&:quantity).sum %>)
                  </td>
                  <td class="whitespace-nowrap px-2 md:px-4 py-3 text-sm text-gray-500 text-center">
                    <%= status_container_for sales_order.status do %>
                      <%= t(sales_order.status, scope: [:activerecord, :attributes, :sales_order, :status_values]) %>
                    <% end %>
                  </td>
                  <td class="whitespace-nowrap px-2 md:px-4 py-3 text-sm text-gray-500 text-center">
                    <%= l(sales_order.status_changed_at, format: :short) %>
                  </td>
                  <td class="hidden lg:table-cell whitespace-nowrap px-2 md:px-4 py-3 text-sm text-gray-500 text-right tabular-nums">
                    <%= number_to_currency sales_order.subtotal_after_order_discount %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <div class="flex items-center justify-center h-96">
          <p class="px-4 py-6 sm:px-6 text-sm/6 text-light-gray-700 italic">
            <%= t(".no_sales_orders") %>
          </p>
        </div>
      <% end %>
      <%= paginate @sales_orders, total_count: @sales_orders.total_count %>
    <% end %>
  </div>
</div>
