<!DOCTYPE html>
<html>
  <head>
    <title>Comman</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul>
      <li><%= link_to :products, factory_products_path %></li>
      <li><%= link_to :formula_elements, factory_formula_elements_path %></li>
      <li><%= link_to :formulas, factory_formulas_path %></li>
    </ul>
    <%= yield %>
  </body>
</html>
