<!DOCTYPE html>
<html class="h-full bg-white">
  <head>
    <title><%= content_for(:title) || "Comman" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/paper-css/0.3.0/paper.css">
    <style>@page { size: A4 }</style>

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="h-full A4">
    <div class="web">
      <% if authenticated? %>
        <%= render 'application/sidebar' %>
      <% end %>
      <main class="py-10 <%= 'xl:pl-72' if authenticated? %>">
        <div class="px-4 sm:px-6 xl:px-8">
          <%= render 'common/flash' %>
          <%= yield %>
        </div>
      </main>
    </div>

    <% if content_for? :print_section %>
      <div class="print-section">
        <%= yield :print_section %>
      </div>
    <% end %>
  </body>
</html>
